<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanetglobal.LMS.student.repository.StudentRepository">
<select id="findAllStudents" resultType="list">
	select student_id, student_name, student_email, student_address, student_phone_number, student_grade, student_admission_year, major_id
	from student
</select>

<select id="findStudentById" resultType="StudentVO">
	select student_id, student_name, student_email, student_address, student_phone_number, student_grade, student_admission_year, major_id
	from student
	where student_id = #{studentId}
</select>

<insert id="insertStudent">
	insert into student values(#{student.studentId}, #{}student.studentName},#{student.studentEmali},#{student.studentAddress}, #{student.studentPhoneNumber}, #{student.studentGrade}, #{student.studentAdmissionYear}, #{student.MajorId})
</insert>

<update id="updateStudent">
	update student
	set student_Name = #{student.studentName},
	student_email = #{student.studentEmail},
	student_address = #{student.studentAddress},
	student_phone_number = #{student.studentPhoneNumber},
	student_grade = #{student.studentGrade},
	major_id = #{student.majorId}
</update>

<delete>
	delete from student 
	where student_id = #{studentId} and student_email = #{studentEmail}
</delete>
</mapper>